header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header a img {}
header .navegation-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 80%;
}

header .navegation-main a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

header .navegation-main a:hover {
    color: var(--school-bus-yellow)
}

header .languages {
    
    display: flex;
    flex-direction: column;
    justify-content: center
}

header .languages a {
    margin: 5px 0;
}
